
{% block about_content %}
        <section id="about" class="text-bg-white container">
    <div class="p-5 mb-4 bg-body-white rounded-3">
        <div class="row">

                <h1 class="display-4 fw-light text-body-emphasis lh-1 mb-2 py-3">about me.</h1>
                <p class="lead">Meet the coding wizard behind this digital wonderland!
                    When our independent full stack developer isn't charming browsers and servers, you'll find them in
                    a delightful chaos of family fun with a husband, a daughter, and a menagerie of dogs and cats.
                    Forget about 404 errors – this portfolio is a 100% guaranteed page-turner, sprinkled with lines of
                    code and a dash of domestic bliss. Click your way through the caffeine-infused brilliance and
                    discover a world where bugs are the only thing that won't make you smile!</p>

            </div>
        </div>

    </section>
{% endblock %}